<div class="container">
    <!--<input type="date" id="dia" value="{{hoy.toISOString().substring(0,10)}}" name="trip-start" min="2018-01-01" max="{{hoy.toISOString().substring(0,10)}}"/>
    <select id="pais">
        <option value="US">US</option>
        <option value="ES">ES</option>
        <option value="DE">DE</option>
        <option value="FR">FR</option>
    </select>
    <button class="btn btn-primary" (click)="redirigir()">Redirigir</button>-->
    <router-outlet></router-outlet>
</div>